<launch>

  <rosparam command="load" file="$(find motoman_move_glass_moveit_config)/config/joint_names.yaml"/> 

  <arg name="sim" default="true" />
  <arg name="robot_ip" unless="$(arg sim)" />
  
  <include file="$(find motoman_move_glass_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>
  
  <group if="$(arg sim)">
    <include file="$(find industrial_robot_simulator)/launch/robot_interface_simulator.launch" />
  </group>
  
  <group unless="$(arg sim)">
    <include file="$(find [robot_interface_pkg])/launch/robot_interface.launch" >
      <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>
  </group>

  <include file="$(find motoman_move_glass_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find motoman_move_glass_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>
  
  <include file="$(find motoman_move_glass_moveit_config)/launch/default_warehouse_db.launch" />

  <remap from="/joint_states" to="/motoman_mh5_mh50/joint_states" />
  <!--remap from="joint_trajectory_action" to="arm/joint_trajectory_controller/follow_joint_trajectory" /-->
</launch>
